.navbar {
  height: 12vh;
  background-color: #071a2e;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(255, 255, 255);
  transition: transform 0.3s ease;
  background-color: #080d25;
}

.logo:hover {
  transform: scale(1.05);
}